<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shuhan.plan.mapper.ArticleMapper">

    <select id="List" resultType="cn.shuhan.plan.domain.dto.ArticleDTO">
        SELECT
        a.id AS id,
        a.tag_id AS tagId,
        a.user_id AS userId,
        a.issue_date AS issueDate,
        a.title AS title,
        a.content AS content,
        a.issue_status AS issueStatus,
        a.data_status AS dataStatus,
        b.`name` AS userName
        FROM
        article a
        LEFT JOIN user b ON a.user_id = b.id
        WHERE a.user_id = #{command.userId}
        AND a.data_status = 1
    </select>
</mapper>


